body {
	font-family: poppin, Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif;
}

#box1{
	height: 500px;
	/* border-bottom: 1px solid black; */
	/* 下边框线 */
	background-color: white;

}


#box1 img {
	margin-top: 20px;
}

#box1 ul li {
	display: inline-block;
	/* 将无序列别显示在一行 */
	margin-left: 25px;
}

#box1 ul {
	margin-left: 170px;
	margin-top: -40px;
}

a {
	text-decoration: none;
	/* 去下划线 */
	color: black;
}

a:hover {
	color: springgreen;
}

#box1 input {
	width: 200px;
	height: 35px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-left: 650px;
	position: absolute;
	/* 绝对定位 */
	top: 25px;
}

#box1 select {
	background-color: #31c27c;
	color: white;
	height: 30px;
	position: absolute;
	left: 910px;
	top: 26px;
}

#box1 option {
	background-color: white;
	color: black;
}

#qq {
	width: 62px;
	height: 20px;
	background-color: #31c27c;
	position: absolute;
	left: 910px;
	font-size: 15px;
	opacity: 0;
}

#qq span {
	color: white;
	position: absolute;
	top: 35px;
}

#qq:hover {
	opacity: 1;
}

@keyframes pox {
	0% {
		height: 70;
	}

	33% {
		height: 75px;
	}

	66% {
		height: 80px;
	}

	100% {
		height: 90px;
	}
}

#qq:hover {
	animation: pox 1s linear forwards;
}

#box2 {
	width: 1293px;
	height: 127px;
	/* border: 1px solid black; */
	margin: auto;
	position: relative;
}



#box2 span img {
	position: absolute;
	left: 438px;
	top: -2px;
}

/* 登录跳转键 */
#box3 {
	position: absolute;
	left: 860px;
	top: 29px;
}

#box4 {
	border-top: 2px solid whitesmoke;
	margin-top: 20px;
}

#box4 p:nth-child(1) {
	display: inline-block;
	margin-left: 237px;
	margin-top: 15px;
}

#box4 p:nth-child(2) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(3) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(4) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(5) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(6) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(7) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(8) {
	display: inline-block;
	margin-left: 40px;
}

#box5 {
	height: 360px;
	/* border-bottom: 1px solid black; */
	/* border-top: 1px solid black; */
	background-image: url("./图片/3.png");
	margin-top: -364px;
	overflow: hidden;
}

#box6 {
	width: 1293px;
	height: 1500px;
	/* border: 1px solid black; */
	margin: auto;
	position: relative;
}

#box7 {
	width: 1200px;
	height: 260px;
	/* border: 1px solid blue; */
	margin-top: 50px;
	margin-left: 47px;
	background-color: #fbfbfd;
}

#box7 a {
	width: 50px;
	height: 40px;
	margin-left: 5px;
	line-height: 40px;
	text-align: center;
	display: inline-block;

}

#box7 a:visited {
	background-color: #31c27c;
}

#box7 a:hover {
	color: white;
	background-color: #31c27c;
	display: inline-block;

}

#box8 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 35px;
	margin-left: 45px;
	position: absolute;
}

#box8 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box9 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/124.webp");
	background-size: 139px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box10 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 35px;
	margin-left: 290px;
	position: absolute;
}

#box10 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box11 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/125.webp");
	background-size: 139px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box12 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 35px;
	margin-left: 540px;
	position: absolute;
}

#box12 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box13 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/126.webp");
	background-size: 139px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box14 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 35px;
	margin-left: 790px;
	position: absolute;
}

#box14 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box15 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/127.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box16 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 35px;
	margin-left: 1042px;
	position: absolute;
}

#box16 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box17 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/130.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box16 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 35px;
	margin-left: 1042px;
	position: absolute;
}

#box16 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box17 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/130.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box18 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 310px;
	margin-left: 45px;
	position: absolute;
}

#box18 p {
	margin-top: 200px;
	margin-left: 53px;
}

#box19 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/131.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box20 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 310px;
	margin-left: 290px;
	position: absolute;
}

#box20 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box21 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/132.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box22 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 310px;
	margin-left: 540px;
	position: absolute;
}

#box22 p {
	margin-top: 200px;
	margin-left: 78px;
}

#box23 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/133.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box24 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 310px;
	margin-left: 790px;
	position: absolute;
}

#box24 p {
	margin-top: 200px;
	margin-left: 86px;
}

#box25 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/134.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box26 {
	width: 208px;
	height: 250px;
	/* border: 1px solid black; */
	background-color: #fbfbfd;
	margin-top: 310px;
	margin-left: 1046px;
	position: absolute;
}

#box26 p {
	margin-top: 200px;
	margin-left: 85px;
}

#box27 {
	width: 140px;
	height: 140px;
	border-radius: 126px;
	background-image: url("./图片/135.webp");
	background-size: 140px;
	position: absolute;
	left: 33px;
	top: 45px;
}

#box28 {
	width: 1210px;
	height: 600px;
	/* border: 1px solid black; */
	position: absolute;
	top: 850px;
	left: 45px;
}

#box28 ul li {
	display: inline-block;
	width: 20%;
	float: right;
}

#box28 ul {
	line-height: 40px;
}
#box29{
	height: 500px;
	/* border-top: 1px solid black; */
	/* border-bottom: 1px solid black; */
	background-color:  #333333;
	position: relative;
}
#box30 span{
	line-height: 40px;
	position: absolute;
	top: 300px;
	text-align: center;
}
#box30 p a {
	color: darkgrey;
}

#box30 p {
	color: darkgrey;
}

#box30 a:hover {
	color: #31c27c;
}
#box31 p{
	margin-left: 30px;
	display: inline-block;
	position: relative;
	top: 70px;
	line-height: 50px;
}
#box31 p:hover{
	color: #31c27c;
}
#box32{
	margin-left: 800px;
	margin-top: -70px;
	color: darkgrey;
	position: relative;
}
#box32 ul li{
	display: inline-block;
	width: 23%;
	float: left;
	line-height: 23px;
}
#box32  a{
	color: darkgrey;
	
}
#box32 p{
	line-height: 30px;
}
#box33{
	width: 1350px;
	height: 450px;
	/* border: 1px solid yellow; */
	margin: auto;
}