body {
	font-family: poppin, Tahoma, Arial, \5FAE\8F6F\96C5\9ED1, sans-serif;
}

#box {
	height: 2565px;
	/* border: 1px solid red; */
}

#box1 img {
	margin-top: 20px;
}

#box1 ul li {
	display: inline-block;
	/* 将无序列别显示在一行 */
	margin-left: 25px;
}

#box1 ul {
	margin-left: 170px;
	margin-top: -40px;
}

a {
	text-decoration: none;
	/* 去下划线 */
	color: black;
}

a:hover {
	color: springgreen;
}

#box1 input {
	width: 200px;
	height: 35px;
	border: 1px solid lightgrey;
	border-radius: 5px;
	margin-left: 650px;
	position: absolute;
	/* 绝对定位 */
	top: 25px;
}

#box1 select {
	background-color: #31c27c;
	color: white;
	height: 30px;
	position: absolute;
	left: 910px;
	top: 26px;
}

#box1 option {
	background-color: white;
	color: black;
}

#qq {
	width: 62px;
	height: 20px;
	background-color: #31c27c;
	position: absolute;
	left: 910px;
	font-size: 15px;
	opacity: 0;
}

#qq span {
	color: white;
	position: absolute;
	top: 35px;
}

#qq:hover {
	opacity: 1;
}

@keyframes pox {
	0% {
		height: 70;
	}

	33% {
		height: 75px;
	}

	66% {
		height: 80px;
	}

	100% {
		height: 90px;
	}
}

#qq:hover {
	animation: pox 1s linear forwards;
}

#box2 {
	width: 1293px;
	height: 127px;
	/* border: 1px solid black; */
	margin: auto;
	position: relative;
}



#box2 span img {
	position: absolute;
	left: 438px;
	top: -2px;
}

/* 登录跳转键 */
#box3 {
	position: absolute;
	left: 860px;
	top: 29px;
}

#box4 {
	border-top: 2px solid whitesmoke;
	margin-top: 20px;
}

#box4 p:nth-child(1) {
	display: inline-block;
	margin-left: 237px;
	margin-top: 15px;
}

#box4 p:nth-child(2) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(3) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(4) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(5) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(6) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(7) {
	display: inline-block;
	margin-left: 40px;
}

#box4 p:nth-child(8) {
	display: inline-block;
	margin-left: 40px;
}

#box5 {
	width: 1300px;
	height: 2000px;
	/* border: 1px solid black; */
	background-color: white;
	margin: auto;
}

#box6 {
	width: 180px;
	height: 1800px;
	border: 1px solid lightgrey;
	position: relative;


}

#box6 span {
	font-size: 23px;
	padding: 10px;
}

#box6 p {
	margin-top: -6px;
	padding: 10px;
}

#box7 {
	width: 150px;
	border-top: 1px solid darkgrey;
	margin-left: 10px;
	margin-top: 10px;
}

#box8 {
	width: 1117px;
	height: 1800px;
	/* border: 1px solid red; */
	float: right;
	margin-top: -1802px;
}

#box9 {
	width: 500px;
	height: 80px;
	/* border: 1px solid black; */
}

#box9 p {
	font-size: 25px;
	font-weight: 500;
	margin-left: 30px;
	display: inline-block;
}

#box9 span {
	display: inline-block;
	padding: 5px;
}

#box9 a {
	font-size: 14px;
	padding: 5px;
	display: inline-block;
}

#box10 {
	width: 700px;
	height: 80px;
	/* border: 1px solid black; */
	position: relative;
}

#box11 {
	width: 100px;
	height: 35px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
	margin-top: 18px;
	margin-left: 20px;
	display: inline-block;
}

#box11 img {
	margin-top: 10px;
	margin-left: 10px;
}

#box11:hover {
	color: white;
	background-color: #31c27c;
	cursor: pointer;
}

#box12 {
	width: 100px;
	height: 35px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 18px;
	left: 140px;
	display: inline-block;
}

#box12 img {
	margin-top: 12px;
	margin-left: 18px;
}

#box12:hover {
	color: white;
	background-color: #31c27c;
	cursor: pointer;
}

#box13 {
	width: 100px;
	height: 35px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 18px;
	left: 260px;
	display: inline-block;
}

#box13 img {
	margin-top: 12px;
	margin-left: 24px;
}

#box13:hover {
	color: white;
	background-color: #31c27c;
	cursor: pointer;
}

#box14 {
	width: 100px;
	height: 35px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 18px;
	left: 380px;
	display: inline-block;
}

#box14 img {
	margin-top: 12px;
	margin-left: 10px;
}

#box14:hover {
	color: white;
	background-color: #31c27c;
	cursor: pointer;
}

#box15 {
	width: 150px;
	height: 35px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 5px;
	position: absolute;
	top: 18px;
	left: 500px;
	display: inline-block;
}

#box15 img {
	margin-top: 12px;
	margin-left: 20px;
}

#box15:hover {
	color: white;
	background-color: #31c27c;
	cursor: pointer;
}

#box16 {
	width: 1115px;
	height: 60px;
	/* border: 1px solid grey; */
	position: absolute;
}

#box16 ul {
	color: grey;
	position: absolute;
	top: 58px;
	left: -90px;
}

#box16 ul li:nth-child(2) {
	margin-left: 530px;
}

#box16 ul li:nth-child(3) {
	margin-left: 190px;
}

#box17 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 60px;
	position: absolute;
}

#box17 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box17 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box17 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 400px;
}

#box17 li:nth-child(4) {
	position: absolute;
	top: -8px;
	left: 450px;
}

#box17 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box17 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box17 li:nth-child(7) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box17 li:nth-child(8) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box17 li:nth-child(9) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box18 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 160px;
	position: absolute;
}

#box18 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box18 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box18 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 400px;
}

#box18 li:nth-child(4) {
	position: absolute;
	top: -8px;
	left: 450px;
}

#box18 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box18 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box18 li:nth-child(7) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box18 li:nth-child(8) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box18 li:nth-child(9) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}


#box19 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 260px;
	position: absolute;
}

#box19 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box19 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box19 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 380px;
}

#box19 li:nth-child(4) {
	position: absolute;
	top: -8px;
	left: 430px;
}

#box19 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box19 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box19 li:nth-child(7) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box19 li:nth-child(8) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box19 li:nth-child(9) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}


#box20 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 360px;
	position: absolute;
}

#box20 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box20 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box20 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 450px;
}

#box20 li:nth-child(4) {
	position: absolute;
	top: -8px;
	left: 500px;
}

#box20 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box20 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box20 li:nth-child(7) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box20 li:nth-child(8) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box20 li:nth-child(9) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}


#box21 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 470px;
	position: absolute;
}

#box21 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box21 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box21 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 370px;
}

#box21 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box21 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box21 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box21 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box21 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box22 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 570px;
	position: absolute;
}

#box22 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box22 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box22 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 380px;
}

#box22 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box22 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box22 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box22 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box22 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box23 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 670px;
	position: absolute;
}

#box23 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box23 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box23 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 350px;
}

#box23 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box23 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box23 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box23 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box23 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box24 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 770px;
	position: absolute;
}

#box24 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box24 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box24 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 480px;
}

#box24 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box24 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box24 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box24 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box24 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box25 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 870px;
	position: absolute;
}

#box25 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box25 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box25 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 430px;
}

#box25 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box25 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box25 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box25 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box25 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box26 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 970px;
	position: absolute;
}

#box26 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box26 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box26 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 400px;
}

#box26 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box26 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box26 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box26 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box26 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box27 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 1070px;
	position: absolute;
}

#box27 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box27 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box27 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 390px;
}

#box27 li:nth-child(4) {
	position: absolute;
	top: -8px;
	left: 440px;
}

#box27 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box27 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box27 li:nth-child(7) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box27 li:nth-child(8) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box27 li:nth-child(9) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}


#box28 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 1170px;
	position: absolute;
}

#box28 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box28 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box28 li:nth-child(3) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box28 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box28 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box28 li:nth-child(6) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box28 li:nth-child(7) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}


#box29 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 1270px;
	position: absolute;
}

#box29 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box29 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box29 li:nth-child(3) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box29 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box29 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box29 li:nth-child(6) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box29 li:nth-child(7) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box30 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 1370px;
	position: absolute;
}

#box30 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box30 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box30 li:nth-child(3) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box30 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box30 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box30 li:nth-child(6) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box30 li:nth-child(7) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}



#box31 {
	width: 1115px;
	height: 100px;
	/* border: 1px solid black; */
	margin-top: 1470px;
	position: absolute;
}

#box31 img {
	margin-top: 50px;
	margin-left: -110px;
}

#box31 li:nth-child(2) {
	position: absolute;
	top: 40px;
	left: 200px;
}

#box31 li:nth-child(3) {
	position: absolute;
	top: -8px;
	left: 520px;
}

#box31 li:nth-child(4) {
	position: absolute;
	top: -16px;
	left: 600px;
}

#box31 li:nth-child(5) {
	position: absolute;
	top: -16px;
	left: 655px;
}

#box31 li:nth-child(6) {
	position: absolute;
	top: -16px;
	left: 710px;
}

#box31 li:nth-child(7) {
	position: absolute;
	top: 42px;
	left: 683px;
}

#box31 li:nth-child(8) {
	color: grey;
	position: absolute;
	top: 42px;
	left: 910px;
}
#box32{
	text-align: center;
	font-size: 25px
}
#box33{
	width: 150px;
	height: 50px;
	border: 1px solid  #31c27c;
	border-radius: 10px;
	background-color: #31c27c;
	color: white;
	margin: auto;
}
#box33 p{
	font-size: 22px;
	margin-top: 6px;
}
#box33 a{
	color: white;
}
#box34{
	height: 500px;
	background-color:  #333333;
	position: relative;
	margin-top: 70px;
}
#box35 span{
	line-height: 40px;
	position: absolute;
	top: 270px;
	left: 20px;
	text-align: center;
}
#box35 p a{
	color: darkgrey;
}
#box35 p {
	color: darkgrey;
}
#box35 a:hover{
	color: #31c27c;
}
#box36 p{
	margin-left: 30px;
	display: inline-block;
	position: relative;
	top: 70px;
	line-height: 50px;
}
#box36 p:hover{
	color: #31c27c;
}
#box37{
	margin-left: 100px;
	margin-top: -70px;
	color: darkgrey;
	position: relative;
}
#box37 ul li{
	display: inline-block;
	width: 50%;
	float: left;
	line-height: 23px;
}
#box37 a{
	color: darkgrey;
	
}
#box37 p{
	line-height: 30px;
}
#box38{
	position: absolute;
	left: 700px;
	top: -10px;
	line-height: 30px;
}
#box38 ul li{
	display: inline-block;
	margin-left: 100px;
}
#box38 a{
	color: darkgrey;
}

